<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=name id="name" required="required"}}
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    {{input value=email id="email" required="required"}}
  </div>

  <div class="form-group">
    <label for="phone">Phone</label>
    {{input value=phone id="phone" required="required"}}
  </div>
  <button {{action 'createNewUser'}}>Create User</button>
</form>
